@import "primer/index.scss";
@import "primer-markdown/index.scss";

.Box-body.spacer > :not(:last-child) {
    margin-bottom: 16px;
}

pre {
    font-size: 14px;
}

.scrollspy-current {
    background: rgba(22, 51, 108, 0.05);
    // border-left: 1px solid #000;
}

.nav-rule.scrollspy-current {
    font-weight: 700;
}
.nav-rule {
    font-size: 11px;
}

.nav-part {
    padding: 4px 10px;
}

.part-header, .chapter-header, .unit-header {
    border-bottom: 1px solid #eee;
}

$chapter-sticky: 24px * 1.5 + 8px;
$unit-sticky: 34px;
.chapter-header {
    position: sticky; top: 0; z-index: 10;
}
.unit-header {
    position: sticky; top: $chapter-sticky; z-index: 9;
}

.offset-anchor {
    display: block;
    position: relative;
    top: -($chapter-sticky + $unit-sticky);
    visibility: hidden;
}

.unit>.offset-anchor {
    top: -($chapter-sticky);
}

.rule-group>.offset-anchor {
    top: -($chapter-sticky + $unit-sticky + 16px);
}

.scrollspy .scrollspy .scrollspy {
    padding-left: 10px;
}
.scrollspy {
    font-size: 12px;
}
ul.scrollspy > li {
    list-style: none;
    // padding-left: 4px;
}

a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}

.anchor {
    float: left;
    padding-right: 4px;
    margin-left: -20px;
}

h2 .anchor { margin-top: -6px; }
h3 .anchor { margin-top: -4px; }

h1 .anchor svg,
h2 .anchor svg,
h3 .anchor svg,
h4 .anchor svg,
h5 .anchor svg,
h6 .anchor svg {
  visibility: hidden;
}
h1:hover .anchor svg,
h2:hover .anchor svg,
h3:hover .anchor svg,
h4:hover .anchor svg,
h5:hover .anchor svg,
h6:hover .anchor svg,
h1 .anchor:focus svg,
h2 .anchor:focus svg,
h3 .anchor:focus svg,
h4 .anchor:focus svg,
h5 .anchor:focus svg,
h6 .anchor:focus svg {
  visibility: visible;
}

.clearfix {
    clear: both;
    // overflow: hidden;
}

.App-link {
  color: #61dafb;
}

.fragment {
    font-family: 'Baskerville', Georgia, serif;
    font-size: 130%;
}

.UnderlineNav-actions {
    min-width: 0;
}
.underline-header {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
}

.App-header {
    .UnderlineNav-item { color: white; }
    .UnderlineNav-item.selected { color: green; }
}

.example { }

.doc-label {
    display: block;
}

.failed {
    background: #fff7f7;
}

ins { background: #d8fcd8; }
del { background: #ff0000; }

.exgot { display: grid; grid-template-columns: minmax(100px, auto) 1fr; }

.exgot>*:nth-child(1), 
.exgot>*:nth-child(2) {
    background: #dcffe4;
    border-top: 1px dashed #999;
    border-bottom: 1px dashed #999;
}

.exgot>*:nth-child(3), 
.exgot>*:nth-child(4) {
    background: #ffdce0;
    border-bottom: 1px dashed #999;
}

// .App {
//   display: flex;
//   flex-direction: column;
// }

.App {
  min-height: 100vh;
}

.App-body {
  display: flex;
  flex: 1;
}

.App-header {
    // https://twitter.com/aglctweets
    background: #16336c;
}

.App-content {
  flex: 1;
}

.App-nav, .App-ads {
  background: #e1e4e8;
}

.App-nav {
  /* put the nav on the left */
  order: -1;
}

.App,
.App-body {
  display: flex;
  flex-direction: column;
}

.App-nav {
  order: -1;
}

@media (min-width: 768px) {
  .App-body {
      // display: grid;
      // grid-template-columns: 18px 1fr;
    flex-direction: row;
    flex: 1;
  }
  .App-content {
    flex: 1;
  }
  .App-nav, .App-ads {
    /* 12em is the width of the columns */
    flex: 0 0 18em;
  }
}

.nav-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

